@font-face {
    font-family: 'italic-Font-family';
    src: url(./assets/font-folder/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.ttf);
}

@font-face {
    font-family: 'DM-sans';
    src: url(./assets/font-folder/DMSans_24pt-Regular.ttf);
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url(./assets/font-folder/LibreBaskerville-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    margin: 37px 58px;
    border: 1.7px solid #3C9581;
    padding: 0px 0px 0px 15px;
    border-radius: 7px;
    background-color: transparent;
    gap: 50px;
    height: 4.55rem;
    position: absolute;
    width: 92%;
}

.header .logo {
    width: 15.25%;
    border-right: 1.7px solid #3C9581;
}

.header .menu {
    display: none;
}

.nav {
    width: 85.75%;
    height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-ul {
    gap: 37px;
    list-style: none;
    font-size: 16px;
    font-family: 'DM-sans', sans-serif;
    font-weight: 100;
}

nav li {
    display: inline-block;
}

.dropdown {
    position: relative;
}

.dropdown i {
    font-size: 17px;
    position: absolute;
    color: #B2BBB7;
    font-weight: 100;
    top: 4px;
}

.dropdown-content {
    position: absolute;
    top: 20px;
    font-family: 'DM-sans', sans-serif;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px 12px 30px;
    background-color: #EDFFF7;
    text-align: left;
    z-index: 1;
    display: none;
    gap: 10px !important;
}

nav a {
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.nav-right-container {
    width: 29.3%;
    height: 100%;
}

.nav-right-container>div:nth-child(1) {
    gap: 24px;
    font-weight: 100;
    font-size: 20px;
    color: rgba(70, 69, 69, 0.815);
}

.nav-inner-cart {
    height: 100%;
    background-color: #3C9581;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 57%;
    padding: 35px;
    color: white;
}

.ri-shopping-cart-line {
    font-size: 29px;
}

.nav-inner-cart-price {
    font-family: 'DM-sans', sans-serif;
    font-weight: 100;
}


.woodly-hero-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 21rem;
    background-color: #F3FCF8;
    padding-bottom: 77px;
    gap: 15px;
}

.woodly-hero-container h1 {
    font-size: 40px;
    font-family: 'LibreBaskerville', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.woodly-hero-container ul {
    display: flex;
    gap: 10px;
    font-size: 13px;
    list-style: none;
    font-family: 'DM-sans', Arial, Helvetica, sans-serif;
    color: #656565;
}

.sec-1 {
    display: flex;
    padding: 9%;
    width: 100%;
    gap: 80px;
}

.sec-1-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 25px 0px;
}

.sec-1-left-first-container h3 {
    font-size: 32px;
    margin: 10px 0px;
    font-family: 'LibreBaskerville';
    font-weight: 100;
}

.sec-1-left-first-container p {
    font-family: 'DM-sans';
    color: #595757e7;
}

.sec-1-left-second-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 43.364%;
}

.sec-1-left-second-container ul {
    list-style: none;
    font-size: 18px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.sec-1-left-second-container ul h4 {
    color: #3C9581;
    font-size: 22px;
    font-family: 'italic-Font-family';
    margin-bottom: 18px;
}

.sec-1-left-second-container ul li {
    font-family: 'DM-sans';
    color: #595757e7;
    font-size: 16px;
}

.sec-1-right {
    width: 61.86%;
    padding: 30px 30px;
    border: 1px solid #f5f5f5;
    border-radius: 7px;
}

.sec-1-right h3 {
    font-size: 26px;
    margin: 10px 0px;
    font-family: 'LibreBaskerville';
    font-weight: 100;
}

.sec-1-right p {
    color: #656565;
    font-family: 'DM-sans', Arial, Helvetica, sans-serif;
}

.sec-1-right label {
    color: #656565;
    font-family: 'DM-sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.sec-1-right input {
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 7px;
    border: 2px solid #3C9581;
    background: #F3FCF8;
    color: #f5f5f5;
    outline: none;
}

.sec-1-right textarea {
    outline: none;
    width: 100% !important;
    min-height: 350px;
    font-size: 16px;
    padding: 15px;
    border-radius: 7px;
    border: 2px solid #3C9581;
    background: #F3FCF8;
    font-family: 'DM-sans', Arial, Helvetica, sans-serif;
    color: black;
}

.sec-1-right form div {
    display: flex;
    margin: 30px 0px;
    flex-direction: column;
}
/* Footer */
.footer-first-container {
    padding: 8.4% 5.6%;
    display: flex;
    justify-content: space-between;
    background: #101010;
    color: white;
}

.footer-first-container-first-div {
    gap: 12px
}

.footer-first-container-first-div h3 {
    color: #FFFFFF;
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.4em;
}

.footer-first-container-first-div h2 {
    font-size: 36px;
    font-family: 'DM-sans';
    font-weight: 500;
    padding: 10px 0px;
    color: #3C9581;
    line-height: 50px;
}

.footer-first-container-first-div img {
    width: 200px;
}

.footer-first-container-first-div>div:nth-child(3) span {
    font-size: 18px;
    line-height: 34px;
    color: grey;
    font-weight: bold;
    font-family: 'circular';
}
.footer-first-container-first-div > div:nth-child(1){
    margin-bottom: 32px;
}

.footer-first-container-second-div {
    gap: 120px
}

.footer-first-container-second-div h4 {
    font-size: 22px;
    font-family:"LibreBaskerville", Sans-serif ;
    font-weight: 400;
    font-style: italic;
}

.footer-first-container-second-div ul {
    list-style: none;
    gap: 20px;
    font-family: 'DM-sans';
    font-size: 16px;
}

.footer-first-container-third-div{
    gap: 40px ;
}
.footer-first-container-third-div>div {
    gap: 17px;
}

.footer-first-container-third-div {
    width: 24%;
    align-items: baseline;
}

.footer-first-container-third-div h3 {
    font-size: 22px;
    font-family: 'italic-Font-family';
}

.footer-first-container-third-div p {
    font-size: 17px;
    width: 75%;
    line-height: 27px;
    font-family: 'circular';
}

.footer-first-container-third-div input {
    padding: 13px;
    width: 64%;
    border-radius: 23px;
    border: none;
}

.email-box {
    position: relative;
}
.footer-first-container-third-div input button:hover{
    background-color: #318573;
}

.email-box input {
    padding: 18px 38px;
    gap: 0px;
    width: 100%;
    border-radius: 23px;
    border: none;
}

.email-box i {
    position: absolute;
}

.message-icon i {
    left: 13px;
    color: black;
    top: 16px
}

.arrow-icon i {
    right: 10px;
    color: white;
    padding: 11px 17px;
    background: #3C9581;
    border-radius: 50%;
    top: 3px;
}

.social-media-links {
    margin-top: 15px;
    gap: 20px;
}
.social-media-links i:hover{
    background-color:  #3C9581 ;
}
.social-media-links i {
    padding: 10px;
    transition: 0.3s ease-in;
    background-color: #232323;
    border-radius: 50%;
    font-size: 16px;
}

.footer-second-container {
    text-align: center;
    line-height: 16px;
    color: #bebebe ;
    padding: 15px;
    font-size: 16px;
    font-family: 'DM-sans', sans-serif;
    background: #282828;
}

