@font-face {
    font-family: 'italic-Font-family';
    src: url(./assets/font-folder/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.ttf);
}

@font-face {
    font-family: 'icomoon-Font-family';
    src: url(./assets/font-folder/icomoon.ttf);
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url(./assets/font-folder/LibreBaskerville-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    padding: 16px 56px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #CBCBCB;
}

.nav {
    width: 76%;
}

.nav-ul {
    color: #545B5A;
    list-style: none;
    font-family: 'icomoon-Font-family', sans-serif;
    gap: 38px;
}
.dropdown {
    z-index: 2;
    position: relative;
}

.dropdown i {
    font-size: 17px;
    position: absolute;
    color: #B2BBB7;
    font-weight: 100;
    top: 2px;
}
.dropdown-content {
    position: absolute;
    top: 20px;
    font-family: 'icomoon-Font-family', sans-serif;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px 12px 30px;
    background-color: #EDFFF7;
    text-align: left;
    z-index: 1;
    list-style: none;
    display: none;
    gap: 10px;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 25px 0px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}


.shop-dropdown {
    position: relative;
    display: flex;
}
.shop-dropdown i {
    font-size: 17px;
    position: absolute;
    color: #B2BBB7;
    font-weight: 100;
    top: 4px;
    left: 37px;
}
.shop-dropdown-content {
    position: absolute;
    top: 20px;
    font-family: 'circular', sans-serif;
    background-color: #f1f1f1;
    min-width: 27.85rem;
    padding: 12px 16px 12px 30px;
    background-color: #EDFFF7;
    text-align: left;
    z-index: 2;    
    height: 18rem;
    display: none;
    gap: 10px !important;
}
.shop-dropdown-content h3{
    font-family: 'italic-Font-family', 'Helvetica Neue' ;
    margin: 10px 0px;
}
.shop-first-content {
    left: -24rem;
    background-color: #EEFFF7;
    padding: 40px 60px;
}
.shop-second-content {
    left: 3.86rem;
    background-color: #E1FEF1;
    padding: 40px 60px;
}
.shop-third-content {
    left: 31.74rem;
    background-color: #EEFFF7;
    padding: 40px 60px;
}


.shop-dropdown:hover .shop-dropdown-content {
    display: flex !important;
    flex-direction: column;
}


.menu{
    display: none;
}
.social-icons {
    gap: 25px;
    color: #545B5A;
    font-size: 22px;
    margin-right: 35px;
}

/* Section - 1 */

.sec-1 {
    height: 44rem;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    justify-content: center;
    position: relative;
    align-items: center !important;
    width: 100% !important;
}

.swiper-slide:nth-child(1),
.swiper-slide:nth-child(3) {
    background-image: url(./home-Two-Assets/img-folder/hero-1.png);
}

.swiper-slide:nth-child(2) {
    background-image: url(./home-Two-Assets/img-folder/hero-2.jpg);
}

.swiper-slide-main-container {
    position: absolute;
}

.swiper-slide-main-container div:nth-child(1) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 25px;
    margin-top: 100px;
    left: -26%;
}

.swiper-slide-main-container .modern-furniture-text {
    left: -41% !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    left: 186px;
    z-index: -1;
}

.swiper-slide h1 {
    font-size: 72px;
    font-family: 'LibreBaskerville', sans-serif;
    font-weight: 100;
}

.heading-span {
    font-family: "italic-Font-family", Sans-serif;
    font-weight: 400;
    font-style: italic;
}

.swiper-slide button {
    padding: 23px 40px;
    font-size: 18px;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 4px;
}

.swiper-slide span {
    font-size: 32px;
}

/* Section - 2 */
.sec-2 {
    padding: 7% 0px;
    text-align: center;
    gap: 40px;
}

.sec-2-h2 {
    color: #000000;
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2em;
}

.sec-2-main-products-container div {
    border: 1px solid #CBCBCB;
    width: 100%;
    padding: 28px 0px;
}

.sec-2-main-products-container div h3 {
    font-family: 'LibreBaskerville';
    font-weight: 100;
    font-size: 20px;
}

.sec-2-main-products-container div img {
    width: 60%;
    padding: 40px;
}

.sec-2-main-products-container {
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    width: 100%;
}

/* Section - 3 */
.sec-3 {
    padding: 7% 0px;
    text-align: center;
    gap: 40px;
    overflow-x: hidden;
    justify-content: end;
}

.sec-3-main-container {
    gap: 20px;
    width: 66%;
    background-color: #D5F2F0;
    height: 40rem;
}

.sec-3-h2 {
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2em;
}

.sec-3-main-container button {
    font-size: 20px;
    padding: 12px 53px;
    background: transparent;
    font-family: 'icomoon-Font-family';
}

.sec-3-main-container img {
    margin: 30px;
    animation: move 4s infinite linear;
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 15px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

/* Section - 4 */
.sec-4 {
    text-align: center;
    gap: 30px;
    padding: 4% 0px;
}

.Product-color {
    gap: 10px;
}

.Product-color div {
    height: 18px;
    padding: 4px;
    border-radius: 50%;
    width: 18px;
    border: 1px solid #CBCBCB;
}

.sec-4-h2 {
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 38px;
    margin: 25px 2px;
    font-weight: 400;
    line-height: 1.2em;
}

.Product-color .green {
    background-color: #47E5A0;
    outline: 1px solid #ddd;
    outline-offset: 2px;
}

.Product-color .red {
    background-color: #F43838;
    outline: 1px solid #ddd;
    outline-offset: 2px;
}

.Product-color .white {
    background-color: #D3D3D3;
    outline: 1px solid #ddd;
    outline-offset: 2px;
}

.sec-4-product-card {
    width: 20%;
    height: 100%;
    border: .07px solid #cbcbcb94;
    gap: 20px;
}

.sec-4-product-card>div:nth-child(2) {
    padding: 0px 0px 15px 18px;
    gap: 10px;
    text-align: left;
}

.sec-4-product-card h4 {
    font-size: 16px;
    font-weight: 100;
    font-family: 'LibreBaskerville';
}

.sec-4-product-card ins {
    font-size: 16px;
    font-weight: 100;
    color: #3C9581;
    text-decoration: none;
    font-family: 'LibreBaskerville';
}

.sec-4-product-card del {
    color: grey;
    font-size: 16px;
    text-decoration: none;
    font-weight: 100;
    font-family: 'LibreBaskerville';
}

.sec-4-product-card img {
    width: 100%;
    height: 100%;
}

/* Section - 4 */
.sec-5 {
    padding: 10% 0px;
    background-color: white;
}

.sec-5-product-main-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 55px 0px;
    padding: 10px 0px;
}

.sec-5-product-main-container div:nth-child(1) {
    gap: 20px
}

.sec-5-product-main-container h2 {
    font-size: 42px;
    font-family: 'LibreBaskerville';
    line-height: 57px;
    font-weight: 100;
}

.sec-5-product-main-container span {
    border-bottom: 2px solid;
    width: fit-content;
    font-size: 18px;
}

.sec-5-product-price img {
    width: 45%;
    height: 100%;
    object-fit: cover;
}

.sec-5-product-price h3 {
    color: #1F2826;
    font-family: 'LibreBaskerville', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.sec-5-product-price>div {
    gap: 10px;
}

.sec-5-product-price>div span {
    font-family: 'circular';
    color: grey;
    border: none;
}

.sec-5-product-price bdi {
    font-size: 22px;
    font-family: 'LibreBaskerville';
    color: #3C9581;
}

.sec-5-product-price {
    width: 47.8%;
    height: 17rem;
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Section - 5 */
.sec-6 {
    margin: 5% 0px;
}

.sec-6-main-container {
    height: 55rem;
    background-position: 0% 44%;
    background-image: url(https://woodly.ecom.themepreview.xyz/home04/wp-content/uploads/sites/7/2023/08/Rectangle-8.jpg);
    border: 1px solid #ccc;
    object-fit: cover;
    padding: 0px 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-6-main-container div {
    width: 100%;
}

.sec-6-main-container div>div {
    height: 2.7rem;
    color: white;
    background-color: #9EB0B3;
    width: 2.7rem;
    font-size: 25px;
    font-weight: 100;
    border-radius: 50%;
}

.sec-6-main-container div>div::after {
    content: "This is content";
    width: 183px;
    height: 73px;
    padding: 15px 12px;
}

.sec-6-main-container div>div:nth-child(3) {
    position: relative;
    top: -27px;
    right: 20%;
}

.sec-6-main-container div>div:nth-child(2) {
    position: relative;
    top: 11.5rem;
    right: -299px;
}

.sec-6-main-container div>div:nth-child(1) {
    position: relative;
    top: 8.8rem;
    left: 18%;
}

.sec-6-main-container div>div::after {
    width: 190px;
    height: 27px;
    background: white;
    position: absolute;
    top: -1.7rem;
    left: 10.6rem;
    transform: translate(-62%, -43%);
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    position: absolute;
    box-shadow: 0 0 0 0 rgb(255 255 255 / 60%);
    -webkit-animation: ripple 3s infinite;
    transition: all .4s ease;
    color: black;
    font-family: 'LibreBaskerville';
}

/* Section -7 */
.sec-7 {
    gap: 53px;
    text-align: center;
    padding: 5% 0px;
}

.sec-7-h2 {
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2em;
}

.sec-7-main-container {
    width: 100%;
}

.sec-7-card {
    width: 33.333%;
    border: 1px solid #CBCBCB;
    gap: 20px;
    text-align: left;
}

.sec-7-card img {
    width: 100%;
}

.sec-7-card>div:nth-child(2) {
    padding: 20px;
    gap: 13px;
}

.sec-7-card>div:nth-child(2) h4 {
    font-size: 17px;
    font-weight: 100;
    font-family: 'LibreBaskerville';
}

.sec-7-card>div:nth-child(2) ins {
    font-size: 16px;
    font-weight: 100;
    color: #3C9581;
    text-decoration: none;
    font-family: 'LibreBaskerville';
}

.sec-7-card>div:nth-child(2) del {
    font-size: 16px;
    color: grey;
    font-weight: 100;
    font-family: 'LibreBaskerville';
}

/* Section - 8 */
.sec-8 {
    text-align: center;
    gap: 20px;
    padding: 12% 0px 5% 0px;
}

.sec-8-h2 {
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.2em;
}

.sec-8-p {
    font-family: "icomoon-Font-family", Sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    color: rgb(73, 73, 73);
    margin: 15px 0px;
}

.sec-8 input {
    border: none;
    border-bottom: 1px solid;
    width: 48%;
    padding: 15px;
    font-size: 16px;
    color: grey;
}



/* Footer */
.footer-first-container {
    padding: 10% 5.6%;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}

.footer-first-container-first-div {
    width: 20%;
    gap: 45px;
}

.footer-first-container-first-div p {
    padding: 20px 0px;
    font-family: 'LibreBaskerville';
    font-size: 15px;
    line-height: 22px;
}

.footer-first-container-first-div h3 {
    color: #FFFFFF;
    font-family: "LibreBaskerville", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.4em;
}

.peyment-options {
    gap: 5px;
}

.footer-first-container-first-div h2 {
    font-size: 42px;
    font-family: 'circular';
    font-weight: 100;
    padding: 10px 0px;
    color: #3C9581;
}

.footer-first-container-first-div img {
    width: 200px;
}

.footer-first-container-first-div>div:nth-child(3) span {
    font-size: 18px;
    line-height: 34px;
    color: grey;
    font-weight: bold;
    font-family: 'circular';
}

.footer-first-container-second-div {
    gap: 139px
}

.footer-first-container-second-div h4 {
    font-size: 22px;
}

.footer-first-container-second-div ul {
    list-style: none;
    gap: 20px;
    font-family: 'LibreBaskerville';
    font-style: italic;
    font-size: 16px;
}

.footer-first-container-third-div {
    gap: 45px;
}

.footer-first-container-third-div>div {
    gap: 25px;
}

.footer-first-container-third-div {
    width: 24%;
    align-items: baseline;
}

.footer-first-container-third-div h3 {
    font-size: 22px;
    font-family: 'italic-Font-family';
}

.footer-first-container-third-div p {
    font-size: 17px;
    width: 75%;
    line-height: 27px;
    font-family: 'circular';
}

.footer-first-container-third-div input {
    padding: 13px;
    width: 64%;
    border-radius: 23px;
    border: none;
}

.email-box {
    position: relative;
}

.email-box input {
    padding: 18px 38px;
    gap: 0px;
    width: 100%;
    border-radius: 23px;
    border: none;
}

.email-box i {
    position: absolute;
}

.message-icon i {
    left: 13px;
    color: black;
    top: 16px
}

.arrow-icon i {
    right: 10px;
    color: white;
    padding: 11px 17px;
    background: #3C9581;
    border-radius: 50%;
    top: 3px;
}

.social-media-links {
    margin-top: 15px;
    gap: 20px;
}

.social-media-links i {
    padding: 10px;
    background-color: #232323;
    border-radius: 50%;
}
/* mobile  */
@media (max-width:767px) {
     .nav-ul , .ri-user-line , .ri-search-line{
        display: none !important;
     }
     .header {
        padding: 16px 16px;
    }
    
     .nav{
        width: 26%;
     }
     .menu{
        display: block;
     }
     .sec-2 {
        padding: 16% 0px;
    }
     .swiper-slide-main-container{
        flex-direction: column-reverse;
     }
     .swiper-slide-main-container div:nth-child(1) {
        position: unset;
        display: unset;
        flex-direction: column;
        align-items: baseline;
        gap: 25px;
        margin-top: 0px;
        left: -26%;
        text-align: left;
    }
    .swiper-slide h1 {
        font-size: 38px;
        font-family: 'LibreBaskerville', sans-serif;
        font-weight: 100;
        margin: 12px 0px;
    }
    .swiper-slide img {
        display: block;
        width: 80%;
        left: 17px;
        margin: 40px 21px;
    }
    .sec-2-main-products-container {
        grid-template-columns: auto auto;
        padding: 0px 20px ;
    }
    .sec-3{
        visibility: hidden ;
    }
    .sec-4-product-card{
         display: none !important;
    }
    .sec-4-product-card:nth-child(1){
        display: block !important;
        width: 100%;
    }
    .sec-4-product-card>div:nth-child(2) {
        gap: 19px;
    }
    .sec-5-product-main-container{
        flex-direction: column;
        padding: 0px 20px;
    }
    .sec-5-product-price {
        width: 100%;
    }
    .sec-6-main-container {
        height: 18rem;
    }
    .sec-6-main-container div>div:nth-child(1) {
        top: 1.8rem;
        left: 69%;
    }
    .sec-6-main-container div>div:nth-child(2) {
        top: 5.5rem;
        right: -92px;
    }
    .sec-6-main-container div>div::after {
        display: none;
    }
    .sec-7 {
        gap: 56px;
        padding: 9% 0px;
    }
    .sec-7-card{
        display: none !important;
        width: 100%;
        margin: 0px 15px ;
    }
    .sec-7-card:nth-child(1){
        display: block !important;
    }
    .sec-8-p {
        margin: 15px 18%;
    }
    .sec-8-h2 {
        font-size: 32px;
    }
    .sec-8 input {
        width: 83%;
}
.sec-8{
    padding: 12% 0px 14% 0px;
}
.footer-first-container{
    flex-direction: column;
    align-items: baseline !important;
    gap: 55px;
}
.footer-first-container-first-div {
    width: 75%;
}
}